.items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
  }
  
  .notFoundText {
    font-size: 2rem;
    width: 20%;
    margin: auto;
    font-weight: bold;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.127);
  }